# ===== API SERVER =====
ENV=development # development | production
PROTOCOL=http  # http | https
HOST=0.0.0.0
PORT=8000
WORKERS=2  # Number of worker processes
RELOAD=true  # true | false (production mode should be false)
DEBUG=true  # true | false (production mode should be false)


# ===== DATABASE =====
POSTGRES_USER=apigateway
POSTGRES_PASSWORD=apigateway
POSTGRES_DB=apigateway_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ===== REDIS CACHE =====
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0
