# ===== API SERVER =====
ENV=development # development | production
PROTOCOL=http  # http | https
HOST=0.0.0.0
PORT=8000
WORKERS=2  # Number of worker processes
RELOAD=true  # true | false (production mode should be false)
DEBUG=true  # true | false (production mode should be false)

# ===== AUTH =====
# Run the following command to generate a secure random key:
# openssl rand -base64 16
API_KEY_SALT=your_generated_salt_here
API_PREFIX_LENGTH=4  # Length of the API key prefix for identification
API_KEY_LENGTH=32  # Total length of the API key

# ===== DATABASE =====
POSTGRES_USER=apigateway
POSTGRES_PASSWORD=apigateway
POSTGRES_DB=apigateway_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ===== REDIS CACHE =====
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0
